- name: Deploy application
  hosts: localhost
  gather_facts: false

  vars:
    ansible_host: "{{ lookup('env','ANSIBLE_HOST') }}"
    ansible_port: "{{ lookup('env','ANSIBLE_PORT') | int }}"
    ansible_user: "{{ lookup('env','ANSIBLE_USER') }}"
    ansible_ssh_pass: "{{ lookup('env','ANSIBLE_SSH_PASS') }}"
    ansible_connection: ssh
    ansible_python_interpreter: /usr/bin/python3

  tasks:
    - name: Who am I
      ansible.builtin.command: whoami
      register: whoami

    - debug:
        var: whoami.stdout
