---
- name: Simple ping test
  hosts: localhost
  gather_facts: false
  vars:
    ansible_host: localhost
    ansible_port: 30001
    ansible_user: pi
    ansible_password: zzzz
    ansible_ssh_common_args: '-o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null'

  tasks:
    - name: Ping host
      ansible.builtin.ping:
    - name: Write a file to the remote host use command module
      ansible.builtin.command: echo "Deployment successful!" > /home/pi/deployment_status.txt      
